{% extends "partials/nav.html" %}

{% block tabs %}
<nav class="md-tabs" aria-label="Primary">
  <ul class="md-tabs__list">
    {% for nav_item in config.nav %}
      {% set is_nested = nav_item.children | length > 0 %}
      <li class="md-tabs__item{% if nav_item.active %} md-tabs__item--active{% endif %}">
        <a href="{{ nav_item.url | url }}" class="md-tabs__link">
          {{ nav_item.title }}
        </a>

        {% if is_nested %}
        <ul class="md-tabs__dropdown">
          {% for child in nav_item.children %}
            <li class="md-tabs__dropdown-item">
              <a href="{{ child.url | url }}" class="md-nav__link">{{ child.title }}</a>
              {% if child.children %}
              <ul class="md-tabs__dropdown-content">
                {% for grandchild in child.children %}
                  <li class="md-tabs__dropdown-item">
                    <a href="{{ grandchild.url | url }}" class="md-nav__link">{{ grandchild.title }}</a>
                  </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
</nav>
{% endblock %}